@import "fonts/fontface.css";

:root {
  --main-bg-color: #503e9d;
  --font-primary: "CircularStd";
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}  
main {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.main__dashboard {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f9fafb;
  box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 5%) inset;
}
.content__dashboard {
  width: 100%;
  height: 80vh;
}
.sites__dashboard{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px;
    overflow-x: scroll;
}  
.sites__dashboard::-webkit-scrollbar {
  height: 5px;
}
.sites__dashboard::-webkit-scrollbar-thumb {
  background-color: #9B92C1;
  border-radius: 10px;
}
.site__dashnoard{
    display: flex;
    height: 80px;
    align-items: center;
    padding: 10px;
    background: #fff;
    font-size: 18.5813px;
    line-height: 24px;
    color: #000000;
    box-shadow: 0px 10.72px 21.44px rgba(87, 105, 177, 0.06);
    border-radius: 7.14667px;
    margin-right: 15px;
    cursor: pointer;
}
.active__site__dashboard{
  background: #503E9D !important;
  color: #fff !important;
}
.active__site__dashboard .site__logo__dashnoard .bg__logo__dashboard{
  background-image: url(./../Assets/active-site-dashboard.png) !important;
  height: 42px;
  width: 65px;
}
.bg__logo__dashboard{
  background-image: url(./../Assets/site-dashboard.png);
  height: 65px;
  width: 65px;
}
.site__name__dashnoard{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}
.site__name__dashnoard span{
    font-weight: 450;
    font-size: 12.864px;
    line-height: 16px;
    color: #C0C3DC;
}
.health__products__dashboard{
    height: 43%;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    color: #000000;
}
.health__diagram__dashboard , .products__diagram__dashboard{
  width: 95%;
  height: 85%;
  background: #FFFFFF;
  box-shadow: 0px 15px 50px rgba(87, 105, 177, 0.1);
  border-radius: 15px;
}
.health__dashboard{
  width: 60%;
  height: 100%;
}
.products__dashboard{
  width: 40%;
  height: 100%;
}


.pages__links__dashboard{
    height: 37%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.pages__dashboard{
    height: 100%;
    width: 40%;
}
.page__dashboard , .link__dashboard{
    height: 80%;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 12px 40px rgba(87, 105, 177, 0.1);
    border-radius: 12px;
}
.links__dashboard{
    height: 100%;
    width: 30%;
}
.button__control__dashboard{
    height: 100%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control__button__dashboard{
  height: 45%;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
}
.button__control__recherch__dashboard {
  background: #31ba86;
  color: #fff;
}
.button__control__download__dashboard {
  background: #fff;
  color: #31ba86;
}
.control__dashboard {
  height: 100%;
  width: 45%;
  box-shadow: 0px 15px 50px rgb(87 105 177 / 6%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
  line-height: initial;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0px;
  margin: 0px 10px 0px 10px;
}
.control__dashboard i {
  font-size: 1.5em;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  padding-bottom: 10px;
}
.button__control__upgrade__dashboard {
  height: 50%;
  width: 80%;
  background-image: url(../Assets/upgrad_cover.png);
  background-size: cover;
  box-shadow: 0px 15px 50px rgb(87 105 177 / 6%);
  border-radius: 10px;
  font-size: 0.9em;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
  margin: 5px 10px;
}
.button__control__upgrade__dashboard button {
  width: 140px;
  /* height: 39px; */
  background: #ffffff;
  border-radius: 10px;
  border: none;
  color: #503e9d;
  padding: 4px 0px;
}
