@import "fonts/fontface.css";
:root {
  --main-bg-color: #503e9d;
  --font-primary: "CircularStd";
}

/* Sign up */

body,
html {
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-primary);
}

.top-menu {
  position: relative;
}

.topcorner_logo {
  position: absolute;
  top: 48px;
  left: 6.7%;
  z-index: 1;
}

.logo {
  width: 10rem;
}

.contact {
  display: grid;
  grid-gap: 100px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0.45fr;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.contact__leftbg {
  background-image: url("../Assets/Contact Us Background.png");
  background-size: cover;
  position: relative;
}

.contact__text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.signup__title{
  font-size: 3.5em;
  margin: 0;
  color: #FFFFFF;
}
.container-contact {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 400px;
  padding: 25px 40px 10px 40px;
  background: #ffffff;
  box-shadow: 0px 15px 30px rgba(80, 62, 157, 0.15);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper form input:focus,
.wrapper form textarea:focus {
  outline: none;
}

.wrapper form .form-row {
  display: flex;
  margin: 32px 0px 32px 0px;
  justify-content: start;
}

.wrapper form .textarea-row {
  display: flex;
  margin: 120px 0px 32px 0px;
  justify-content: start;
}

.wrapper form .form-row .input-data {
  width: 55%;
  height: 40px;
  margin: 0;
  position: relative;
}

.wrapper form .form-row .input-data_contact {
  width: 100% !important;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-family: var(--font-primary);
}

.textarea textarea {
  resize: none;
  padding: 0.8rem 0 1.6rem;
  min-height: 8rem;
  margin-top: -5.5rem;
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-25px);
  font-size: 14px;
  color: #797876;
}

.textarea-row label {
  width: 100%;
  bottom: 100px !important;
  background: #fff;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #503e9d 0%, #c5add2 100%);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
.btn--register {
  background: linear-gradient(84.33deg, #503e9d 1.44%, #c5add2 98.77%);
  color: #fff;
  border: none;
}
@media (max-width: 700px) {
  .wrapper .text {
    font-size: 30px;
  }
  .wrapper form {
    padding: 10px 0 0 0;
  }
  .wrapper form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
}



.form-btn button {
  border-radius: 5px;
  padding: 17px 50px 17px 50px;
  margin: 30px 18px 0px 0px;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  font-family: var(--font-primary);
  font-weight: 500;
  cursor: pointer;
}

.contact .form-btn button {
  width: 100%;
  margin: 30px 18px 0px 0px;
  border-radius: 0;
}

@media (max-width: 1407px) {
  .wrapper form .form-row {
    width: 140%;
  }
  .container-contact form .form-row {
    width: 100% !important;
  }
}


@media (max-width: 1127px) {
  .wrapper form .form-row {
    width: 140%;
  }
}

@media only screen and (max-width: 992px) {
  .topcorner_logo {
    left: 9.7%;
  }
  .contact__leftbg {
    grid-column: -1/1 !important;
  }
  .contact {
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .container-contact {
    top: 100%;
  }
  .wrapper {
    max-width: 880px;
  }
  .wrapper form .form-row {
    display: block;
    margin: 32px 0px 32px 0px;
    width: 200% !important;
  }
  .container-contact form .form-row {
    width: 100% !important;
  }
  .textarea textarea {
    resize: none;
    padding: 0.8rem 0 1.6rem;
    min-height: 8rem;
    margin-top: 1.5rem;
  }
  .wrapper form .form-row .textarea {
    height: 128px;
  }
  .contact .form-btn {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  .wrapper form .form-row {
    display: block;
    margin: 32px 0px 32px 0px;
    width: 165% !important;
  }
  .container-contact form .form-row {
    width: 100% !important;
  }
  .container-contact {
    max-width: 280px;
    width: 280px;
    left: 50%;
  }
}

@media only screen and (max-width: 390px) {
  .contact__text {
    left: 47%;
  }
}

@media only screen and (max-width: 380px) {
  .container-contact {
    max-width: 230px;
    width: 230px;
    left: 50%;
  }
  .contact__text {
    left: 50%;
  }
}












