@import "fonts/fontface.css";
:root {
  --main-bg-color: #503e9d;
  --font-primary: "CircularStd";
}

/* Sign up */

body,
html {
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-primary);
}

.top-menu {
  position: relative;
}

.topcorner_logo {
  position: absolute;
  top: 48px;
  left: 6.7%;
  z-index: 1;
}

.logo {
  width: 10rem;
}

.contact {
  display: grid;
  grid-gap: 100px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0.45fr;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.contact__leftbg {
  background-image: url("../Assets/Contact Us Background.png");
  background-size: cover;
  position: relative;
}

.signup {
  display: grid;
  grid-gap: 100px;
  grid-template-rows: 1fr;
  grid-template-columns: 0.75fr 1fr;
  min-height: 100vh;
  width: 100%;
}

.signup__leftbg {
  background-image: url("../Assets/Sing up in Background.png");
  background-size: cover;
  position: relative;
}

.signup__text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.contact__text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.login__title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 42px;
}

.signup__title {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 81px;
}

.signup__subtitle {
  margin-top: -3.25rem;
}

.login__subtitle {
  margin-top: -1.25rem;
}

.signup__form {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.butn {
  border-radius: 5px;
  margin: 30px 15px 0px 0px;
  /* opacity: 0.85; */
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.fb {
  background: #425f9e;
  color: #fff;
  border: none;
  padding: 14px;
}

.google {
  background: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 12px;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.or {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 60px;
  margin-left: 16%;
}

.container {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.container-contact {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 400px;
  padding: 25px 40px 10px 40px;
  background: #ffffff;
  box-shadow: 0px 15px 30px rgba(80, 62, 157, 0.15);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper form input:focus,
.wrapper form textarea:focus {
  outline: none;
}

.wrapper form .form-row {
  display: flex;
  margin: 32px 0px 32px 0px;
  justify-content: start;
}

.wrapper form .textarea-row {
  display: flex;
  margin: 120px 0px 32px 0px;
  justify-content: start;
}

.wrapper form .form-row .input-data {
  width: 55%;
  height: 40px;
  margin: 0;
  position: relative;
}

.wrapper form .form-row .input-data_contact {
  width: 100% !important;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-family: var(--font-primary);
}

/* .input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
transform: translateY(-20px);
font-size: 14px;
color: #797876;
}*/

.textarea textarea {
  resize: none;
  padding: 0.8rem 0 1.6rem;
  min-height: 8rem;
  margin-top: -5.5rem;
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-25px);
  font-size: 14px;
  color: #797876;
}

.textarea-row label {
  width: 100%;
  bottom: 100px !important;
  background: #fff;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #503e9d 0%, #c5add2 100%);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

@media (max-width: 700px) {
  .wrapper .text {
    font-size: 30px;
  }
  .wrapper form {
    padding: 10px 0 0 0;
  }
  .wrapper form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
}

.newsletter {
  display: flex;
  width: 51%;
  justify-content: start;
  gap: 70px;
  margin-top: 40px;
}

.newsletter label {
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
  position: relative;
  width: 1.7em;
  height: 1.7em;
  color: #363839;
  border: 2px solid #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  vertical-align: middle;
}

.checkbox-wrapper label {
  vertical-align: middle;
}

.checkbox-wrapper input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  top: -1px;
  left: 6px;
  width: 5px;
  height: 15px;
  border-style: solid;
  border-color: var(--main-bg-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked {
  color: #fff;
  background: #fff;
  border: 2px solid var(--main-bg-color);
  box-sizing: border-box;
}

.checkbox-wrapper input[type="checkbox"]:checked::before {
  opacity: 1;
}

.checkbox-wrapper input[type="checkbox"]:checked ~ label::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.form-btn button {
  border-radius: 5px;
  padding: 17px 50px 17px 50px;
  margin: 30px 18px 0px 0px;
  /* opacity: 0.85; */
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  font-family: var(--font-primary);
  font-weight: 500;
  cursor: pointer;
}

.btn--register {
  background: linear-gradient(84.33deg, #503e9d 1.44%, #c5add2 98.77%);
  color: #fff;
  border: none;
}

.btn--login {
  border: 1px solid #000000;
  color: #000000;
  background: #fff;
}

.contact .form-btn button {
  width: 100%;
  margin: 30px 18px 0px 0px;
  border-radius: 0;
}

.terms {
  margin-top: 15px;
}

.anchor-custom {
  text-decoration: none;
  color: #5769b1;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

@media (max-width: 1407px) {
  .newsletter {
    width: 65%;
  }
  .wrapper form .form-row {
    width: 140%;
  }
  .container-contact form .form-row {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1366px) {
  .signup__title {
    font-size: 50px;
    line-height: 51px;
  }
  .signup__subtitle {
    margin-top: -1.8rem;
  }
}

@media (max-width: 1127px) {
  .newsletter {
    width: 75%;
  }
  .wrapper form .form-row {
    width: 140%;
  }
}

@media only screen and (max-width: 992px) {
  .topcorner_logo {
    left: 9.7%;
  }
  .signup__leftbg {
    grid-column: -1/1 !important;
  }
  .signup {
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .contact__leftbg {
    grid-column: -1/1 !important;
  }
  .contact {
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .container-contact {
    top: 100%;
  }
  .signup__form {
    margin: 0 auto;
  }
  .socials {
    text-align: center;
  }
  .or {
    text-align: center;
  }
  .newsletter {
    display: block;
    width: 61%;
    gap: 70px;
    margin-top: 40px;
  }
  .wrapper {
    max-width: 880px;
  }
  .wrapper form .form-row {
    display: block;
    margin: 32px 0px 32px 0px;
    width: 200% !important;
  }
  .container-contact form .form-row {
    width: 100% !important;
  }
  .fb {
    padding: 20px 25px;
  }
  .google {
    padding: 20px 30px;
  }
  .butn {
    margin: 55px 15px 0px 0px;
  }
  .or {
    margin-left: 0px;
  }
  .textarea textarea {
    resize: none;
    padding: 0.8rem 0 1.6rem;
    min-height: 8rem;
    margin-top: 1.5rem;
  }
  .wrapper form .form-row .textarea {
    height: 128px;
  }
  .contact .form-btn {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  .login__title {
    font-size: 32px;
  }
  .wrapper form .form-row {
    display: block;
    margin: 32px 0px 32px 0px;
    width: 165% !important;
  }
  .container-contact form .form-row {
    width: 100% !important;
  }
  .signup__form {
    margin-right: auto;
    margin-left: auto;
    padding-left: 35px;
    padding-right: 15px;
  }
  .container-contact {
    max-width: 280px;
    width: 280px;
    left: 50%;
  }
}

@media only screen and (max-width: 390px) {
  .contact__text {
    left: 47%;
  }
}

@media only screen and (max-width: 390px) {
  .form-btn .btn--register {
    border-radius: 5px;
    padding: 17px 75px 17px 75px;
    margin: 30px 18px 0px 0px;
  }
  .form-btn .btn--login {
    border-radius: 5px;
    padding: 17px 80px 17px 80px;
    margin: 30px 18px 0px 0px;
  }
  .form-btn {
    text-align: center;
  }
  .newsletter {
    width: 71%;
  }
}

@media only screen and (max-width: 380px) {
  .container-contact {
    max-width: 230px;
    width: 230px;
    left: 50%;
  }
  .contact__text {
    left: 50%;
  }
}












