.amazon__products__ISC{
  width: 50% !important;
} 
.amazon__product__ISC span {
  width: 15%;
  text-align: center;
}
.metrics__details__list__summary {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.metrics__details__summary {
  height: 35%;
  display: flex;
  flex-direction: row;
}
.list__summary {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mds__summary{width: 48%;margin-right: 10px;}
.mds__summary span{
width: 100%;
}
.md__summary {
  height: 80%;
  width: 45%;
  margin-right: 10px;
  box-shadow: 0px 15px 50px rgb(87 105 177 / 6%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  line-height: initial;
  justify-content: space-around;
  cursor: pointer;
  float: left;
  background: #FFFFFF;
}
.md__summary div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.md__summary div i{
  font-size: 30px;
}
.md__time__summary {
  color: #B15CBD;
}
.md__Date__summary {
  color: #4A61BD;
}
.md__Processed__summary {
  color: #53A0BD;
}
.md__Pages__summary {
  color: #7753BD;
}
.md__number__summary {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.list__summary {
  height: 65%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.page__lists__summary{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(87, 105, 177, 0.06);
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}
.page__lists__summary hr{margin: auto;width: 100%;margin-bottom: 10px;}
.page__list__summary{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 12px;
}
.page__list__summary i{
  font-size: 8px;
  padding: 5px 2px;
}
.page__lists__summary::-webkit-scrollbar {
  width: 5px;
}
.page__lists__summary::-webkit-scrollbar-thumb {
  background-color: #9B92C1;
  border-radius: 10px;
}